customer/node_modules
customer/.env
customer/.env.dev

gateway/node_modules
gateway/.env
gateway/.env.dev

product/node_modules
product/.env
product/.env.dev

shopping/node_modules
shopping/.env
shopping/.env.dev